version: "3.2"

volumes:
        db:
        nextcloud:

secrets:
        nextcloud_admin_password:
                file: ./nextcloud_admin_password.txt
        nextcloud_admin_user:
                file: ./nextcloud_admin_user.txt
        postgres_db:
                file: ./postgres_db.txt
        postgres_password:
                file: ./postgres_password.txt
        postgres_user:
                file: ./postgres_user.txt

services:

        db:
                image: postgres
                volumes:
                        - /mnt/drive/docker/postgres/db:/var/lib/postgresql/data
                environment:
                        - POSTGRES_DB_FILE=/run/secrets/postgres_db
                        - POSTGRES_USER_FILE=/run/secrets/postgres_user
                        - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
                secrets:
                        - postgres_db
                        - postgres_password
                        - postgres_user

        nextcloud:
                image: nextcloud
                ports:
                        - 8080:80
                links:
                        - db
                volumes:
                        - /mnt/drive/docker/nextcloud:/var/www/html
                environment:
                        - POSTGRES_HOST=db
                        - POSTGRES_DB_FILE=/run/secrets/postgres_db
                        - POSTGRES_USER_FILE=/run/secrets/postgres_user
                        - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
                        - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_password
                        - NEXTCLOUD_ADMIN_USER_FILE=/run/secrets/nextcloud_admin_user
                depends_on:
                        - db
                secrets:
                        - nextcloud_admin_password
                        - nextcloud_admin_user
                        - postgres_db
                        - postgres_password
                        - postgres_user

        transmission:
                image: lscr.io/linuxserver/transmission
                container_name: transmission
                environment:
                        - PUID=1000
                        - PGID=1000
                        - TZ=Europe/London
                        - TRANSMISSION_WEB_HOME=/combustion-release/ #optional
                volumes:
                        - /mnt/drive/docker/transmission/config:/config
                        - /mnt/drive/docker/transmission/downloads:/downloads
                        - /mnt/drive/docker/transmission/watch:/watch
                ports:
                        - 9091:9091
                        - 51413:51413
                        - 51413:51413/udp
